@font-face {
  src: url('fonts/FormaDJRMono-VF.woff2') format("woff2"),
       url('fonts/FormaDJRMono-VF.woff') format("woff");
  font-family: 'FormaDJRMono';
  font-style: normal;
  font-weight: 100 900;
}