html, body {background:#fff; color:#333; font-family: "FormaDJRMono"; }
.container {max-width: 800px; margin: 0 auto; }

.splitflap {
  display: block;
  position: relative;
  min-width: 95px;
  height: 110px;
  margin: 10px;
  font-size: 100px;
  text-align: center;
  color: white;
  background-color: black;
  float: left;
}
.flapper {
  display: block;
  clear: both;
  font-family: "FormaDJRMono" !important;
}

.flapper.XXL .digit {
  line-height: 1.2 !important;
}

/** IDEA: Transition from time to font name for prototype? **/

.waterfall .example-text{
  font-size: 10rem;
  font-weight: 100;
  /**font-synthesis: none;**/
}