@font-face {
  src: url('/fonts/FormaDJRMono-VF.woff2') format("woff2"),
    url('/fonts/FormaDJRMono-VF.woff') format("woff");
  font-family: 'FormaDJRMono';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

html,
body {
  background: #e7373e;
  color: #fff;
  font-family: "FormaDJRMono";
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.flapper-container {
  height: 21rem;
  /** TODO: Make this more flexible**/
  position: relative;
}

.flapper {
  display: block;
  clear: both;
  font-family: "FormaDJRMono" !important;
  text-align: center;

}

.flapper.XXL .digit {
  line-height: 1.2 !important;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
}

.cta-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.cta-link:hover {
  text-decoration: underline;
}

.right {
  float: right;
}

.bottom-cta {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.content-emphasis {
  width: 62%;
  font-size: 3.5rem;
  font-weight: bold;
}

.content-text {
  width: 100%;
  padding-bottom: .75rem;
}

.text-block {
  width: 50%;
  font-size: 1.2rem;
  line-height: 140%
}

.content-image {
  width: 100%;
  max-width: 1500px;
  font-size: .75rem;
  margin: .75rem 0;
}

.waterfall .example-text {
  font-size: 10rem;
  font-weight: 100;
  /**font-synthesis: none;**/
}

.waterfall .example-text.uppercase {
  text-transform: uppercase;
}

.waterfall .example-text.italic {
  font-style: italic;
}

.waterfall-label {
  font-size: 1rem;
}

.placeholder {
  border: 1px solid white;
  /** TODO make sure to delete this when content is in **/
}

.glyphset-container {
  display: grid;
  grid-template-columns: repeat(12, auto);
  justify-items: center;
  justify-content: stretch;
  text-align: center;
  font-size: 3vw;
  width: 100%;
  overflow: hidden;

}

.glyph {
  font-variation-settings: 'wght' var(--font-weight);
  width: 100%;
  cursor: move;
  padding: .5rem;
}

/* 
.glyph:hover {
  font-weight: bold;
} */

.textButton {
  border: none;
  color: #fff;
  background: none;
  font-family: "FormaDJRMono";
  font-size: 1rem;
}

.textButton.on {
  font-weight: bold;
  text-decoration: underline;
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
  vertical-align: middle;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 0.125rem;

}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -6px;
  /* Centers thumb on the track */
  border-radius: 0.5rem;


  /*custom styles*/
  background-color: #fff;
  height: .75rem;
  width: .75rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: inset 1px 0px 2px #3e3d3d;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none;
  /*Removes extra border that FF applies*/
  /*border-radius: 0; Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #fff;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  box-shadow: inset 1px 0px 2px #3e3d3d;
}

/**Media queries: Mobile-last since this will be mainly viewed on desktop **/
@media screen and (max-width: 900px) {

  .content-emphasis,
  .text-block {
    width: 100%;
  }

  .content-image img {
    width: 100%;
  }

  .content-emphasis {
    font-size: 3rem;
  }

  .glyphset-container {
    grid-template-columns: repeat(8, 12.5%);
  }
}